#box{
  width:370px;
  height:309px;
  border-top: 0.02px solid #f1f1f1;
  box-sizing: border-box;
  margin-top:10px;
  margin-left:10px;  
}
p{
  font-family:"Times";
  font-weight:lighter;
}
#last_price{
  font-size:22px;
  padding-left:6px;
  font-weight:lighter;
 
}
h1{
  font-size:22px;
  font-family:"Times";
  font-weight:100;
  font-variant-caps: all-small-caps;
  word-wrap:normal;
}
#data{
  font-size:0.7em;
  color:grey;
}
.change{
  float:right;
  color:green;
}

.val{
  float:right;
  font-weight:bolder;
  color:black;
  font-size:13px;
}
input{
  width:183px;
  height:30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}
button{
  float: right;
  width:183px;
  height:30px;
  border-radius: 0 5px 5px 0 ;
  background: linear-gradient(white, #e6e6e6);
  border: 1px solid #ccc;
  display: inline-block;
  font-size:14px;
  color:black;
  font-weight:lighter;
}
button:focus {outline:0;}
input:focus {outline: none; }
hr{
  border: 0;
  border-top: 1px solid #d2d2d2;
  margin-top:11px;
}

.line{
  border-top: 3px solid grey;
  margin-top:10px;
}
#timeStamp{
  float:right;
}